/*
Remember that all styles are inheriting from Twitter Bootstrap and JQuery UI.
*/

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 60px;
}
#footer {
background-color: #f5f5f5;
}
.credit {
	margin: 20px;
}
.alert {
	margin-top: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
.control-group {
	margin-bottom: 0;
}
.search-query {
	width: 270px;
}
.mangaLoading {
	width: 100%;
	height: 200px;
	text-align: center;
	padding: 200px 0;
}
#disqus_thread
{
	
}
.modTable {
	a {
		display: inline-block;
    	height: 100%;
    	width: 100%;
	}
	td {
		height: 80px;
	}
	.modColumn {
		height: 80px;
	}
	.rowIcon {
		text-align: center;
		width: 80px;  

		img {
			height: 80px;
    		width: 80px;
		} 
	}
}

.modTitle {
	padding-bottom: 0px;
}

.mangaTitle a {
	font-size: 20px;
}

.hero-unit {
	background: #fff;
	min-height: 600px;
	padding: 0;
	/*min-height: 600px;*/

	&.main-page {
		padding: 20px;

		h1 {
			text-align: center;
		}
		img {
		}
	}
	&.random-text {
		min-height: 0;
	}
	&.sidebar-unit {
		min-height: 0;
	}
}

.searchResultsMod {

	.modTitle {
		padding-bottom: 15px;
	}
	.results a {
		display: inline-block;
    	height: 100%;
    	width: 100%;
	}
	.results .resultsIcon {
		text-align: center;
		width: 80px;
	}
	.results .resultsIcon img{
		height: 80px;
		width: 80px;
	}
}

.bookmarksMod {

	.modTitle {
		padding-bottom: 15px;
	}

	.mangaTitle {
		font-size: 20px;
	}
	.columnText {
		font-size: 18px;
	}
	.bookmarkRemove {
		width: 35px;
	}
	.bookmarkRemove a {
		float: right;
		height: 30px;
		line-height: 30px;
		width: 25px;
	}
}

.mangaDetailsMod {

	.modTitle {
		padding-bottom: 15px;
	}
	.detailsImage {
		float: left;
		margin-right: 30px;
	}
	.detailsImage.span3 {
		margin-left: 0;
	}
	.detailsImage img {
		width: 240px;
	}
	.mangaInfo.span9 {
		list-style: none;
		margin-left: 0;
	}
	.details a {
		display: inline-block;
    	height: 100%;
    	width: 100%;
	}
	.details .detailsIcon {
		text-align: center;
		width: 80px;
	}
	.mangaTitle {
		font-size: 20px;
	}
	.buttons {
		text-align: right;
	}
}

.mangaChapterMod {

	.mangaSlider {
		text-align: center;
	}
	.mangaPage:hover {
		cursor: pointer;
	}
	.chapterNumber {
		text-align: center;
	}
	.sliderControlBar {

	}
	.mangaImageContainer {
		min-height: 400px;
	}
	.mangaImageContainer img {
		padding: 0;
	}
	.sliderControlBar .btn.prev {
		float: left;
	}
	.sliderControlBar .btn.next {
		float: right;
	}
}

.topTenMod {
	.rank {
		text-align: center;
		width: 30px;
	}
}

.likeMod {
	&.sidebar-unit {
		border: none;
	}
	.likeContainer {
		float: right;
	}
	.twitter-share-button {
		margin-bottom: -3px;
		width: 90px
	}
}
.sidebar-unit {
	background: #fff;
	border: 1px solid #eee;
	padding: 5px 10px;

	ul {
		list-style: none;
	}
	.sidebarTitle {
		border-bottom: 1px solid #eee;
	}

	.twitter_title {
		font-size: 18px;
		font-weight: 200;
	}
}

.tweet,
.query {
	color: #085258;
}

	.tweet_list {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow-y: hidden;
	}
	
		.tweet_list li {
			border-top: 1px dotted #999;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0.5em;
			list-style-type: none;
		}
		
			.tweet_list li a {
				color: #0088CC;
			}
		
		.tweet_list .tweet_even {
			background-color: #eeefff;
		}
		
		.tweet_list .tweet_avatar {
			padding-right: .5em; float: left;
		}
		
			.tweet_list .tweet_avatar img {
				vertical-align: middle;
			}
