<div class="bookmarksMod">

	<h2 class="modTitle">Your Bookmarks</h2>

	<div ng-show="showRemoveAlert" class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	 		<strong>Bookmark successfully deleted!</strong>
	</div>

	<table ng-show="bookmarks.length > 0" class="table table-bordered table-hover modTable">
		<th class="rowIcon"><i class="icon-picture"></i></th>
		<th>Manga</th>
		<th>Chapter - Page</th>
		<th></th>
		<tr ng-repeat="bookmark in bookmarks">
			<td class="rowIcon"><a ng-href="{{chapterDetailsUrl(bookmark)}}"><img ng-src="{{getMangaImageUrl(bookmark.mangaImage)}}"></a></td>
			<td class="mangaTitle"><a ng-href="{{chapterDetailsUrl(bookmark)}}">{{bookmark.mangaTitle}}</a></td>
			<td class="columnText">
				<a ng-href="{{chapterDetailsUrl(bookmark)}}">{{bookmark.chapterNumber}} - {{bookmark.pageNumber}}</a>
			</td>
			<td class="bookmarkRemove"><a class="btn btn-danger" ng-click="removeBookmark($index)"><i class="icon-remove icon-white"></i></a></td>
		</tr>
	</table>

	<div ng-show="bookmarks.length == 0">
		<hr>
		<p class="hero-unit random-text">No bookmarks yet. You can bookmark pages in Manga that you read.</p>
		<hr>
	</div>
</div>