<div class="bookmarksMod">

	<h2 class="modTitle">Your Favorites</h2>

	<div ng-show="showRemoveAlert" class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	 		<strong>Favorite successfully deleted!</strong>
	</div>

	<table ng-show="favorites.length > 0" class="table table-bordered table-hover modTable">
		<th class="rowIcon"><i class="icon-picture"></i></th>
		<th>Manga Title</th>
		<th></th>
		<tr ng-repeat="favorite in favorites">
			<td class="rowIcon"><a ng-href="{{mangaDetailsUrl(favorite)}}"><img ng-src="{{getMangaImageUrl(favorite.mangaImage)}}"></a></td>
			<td class="mangaTitle"><a ng-href="{{mangaDetailsUrl(favorite)}}">{{favorite.mangaTitle}}</a></td>
			<td class="bookmarkRemove"><a class="btn btn-danger" ng-click="removeFavorite($index)"><i class="icon-remove icon-white"></i></a></td>
		</tr>
	</table>

	<div ng-show="favorites.length == 0">
		<hr>
		<p class="hero-unit random-text">No favorites yet. Search for Manga and favorite ones you like.</p>
		<hr>
	</div>
</div>