<h2>Legal/Terms of Service</h2>
<hr>
<h3>Important Legal Information</h3>

<p>MangaTaku provides an interface for users to browse, read, and download manga images available at the external website, MangaEden.com. Any part of MangaTaku, the MangaTaku Client, and the MangaTaku Service are not owned by, associated or affiliated with, or endorsed by MangaEden.com.</p>

<p>MangaEden.com provides a public API that allows any user view images directly from servers operated by MangaEden.com. The MangaTaku Service does not store or host any copyrighted material on its server. In addition, no copyrighted material is ever provided by or transmitted through the MangaTaku Service. All page scans, cover art, and translations and are hosted on servers operated by MangaEden.com. The MangaTaku Client and the MangaTaku Service do not make available any content that is not already accessible through the use of a web browser.
</p>

<h3>Terms of Service for MangaTaku</h3>

<p>Your use of the Service shall be conclusively deemed upon acceptance of these terms. If you do not agree to them, do not use the Service and do not use MangaTaku.</p>

<p>All rights that are not explicitly granted in these Terms of Service are reserved by MangaTaku.</p>

<p>You agree that MangaTaku retains all right, title, and interests to MangaTaku, including all intellectual property rights related thereto.</p>

<p>You agree not to modify, reverse engineer or disassemble the Service or the MangaTaku Client, or make any other attempt to obtain source code from MangaTaku.</p>

<p>Remember, we do not host any content on MangaTaku. This website is merely a showcase of HTML5 and AngularJS and the amazing things that can be done with it. We use a public API provided by MangaEden.com, which anyone with a web browser can access publicly. For any issue or complaints with any content seen on MangaTaku, please contact the team providing the public API.</p>

<h3>1. Description of what we provide.</h3>

<p>MangaTaku provides an interface for users to browse, read, and download manga images available at the external website, MangaEden.com. Any part of MangaTaku, the MangaTaku Client, and the MangaTaku Service are not owned by, associated or affiliated with, or endorsed by MangaEden.com.</p>

<p>MangaEden.com provides a public API that allows any user view images directly from servers operated by MangaEden.com. The MangaTaku Service does not store or host any copyrighted material on its server. In addition, no copyrighted material is ever provided by or transmitted through the MangaTaku Service. All page scans, cover art, and translations and are hosted on servers operated by MangaEden.com. The MangaTaku Client and the MangaTaku Service do not make available any content that is not already accessible through the use of a web browser.
</p>
<p>This website was built to showcase the abilities of HTML5 and Javascript/AngularJS. </p>

<h3>2. Misuse of MangaTaku</h3>

<p>You may not submit any form of automated or recorded queries unless expressly authorized by MangaTaku in writing. You may not perform any sort of action that may ruin the service or ruin the reliability of the service for others.</p>

<h3>3. International use.</h3>

<p>Whether you use MangaTaku from within the United States or any other country, you agree to comply with all local laws, rules, and practices regarding conduct and content.</p>

<p>You also agree to comply with all applicable export laws regarding the transmission of technical data exported from the United States or any other country in which you access or use the Service.
</p>

<p>4. No Warranties.</p>

<p>THE SERVICE AND THE MangaTaku CLIENT APPLICATION ARE PROVIDED "AS IS", WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OR SUPPORT. MangaTaku HEREBY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED WITH RESPECT TO THE SERVICE AND THE MangaTaku CLIENT APPLICATION, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN ADDITION, MangaTaku SPECIFICALLY DISCLAIMS ANY WARRANTIES AS TO SECURITY, PERFORMANCE, OR RELIABILITY OF THE SERVICE AND THE MangaTaku CLIENT APPLICATION.</p>

<p>You agree that you use the Service at your own discretion and risk, and that you are solely responsible for any and all harm and damages incurred through using the Service.
Some states do not allow exclusion of implied warranties, so these exclusions may not apply in individual cases. You may have additional rights that vary from state to state.</p>


<h3>5. Term Changes</h3>


<p>MangaTaku reserves the right to modify these Terms of Service at any time, without notice, for any reason. Please review the current version of these Terms of Service from time to time to keep up to date on any changes.</p>

<h3>6. Liability.</h3>

<p>You agree not to hold MangaTaku liable for your use, misuse, or reliance on MangaTaku. This limitation of liability shall apply to prevent recovery of any actual, direct, consequential, incidental, punitive or other indirect damages, regardless of size or origin, or whether the damages arise from use, misuse, or reliance  MangaTaku, or from any unavailability of the Service for any cause or reason.

This section shall survive the termination of these Terms of Service.

Some states and jurisdictions disallow the exclusion or limitation of liability for damages, so these limitations and exclusions may not apply to you.</p>

<h3>7. Termination.
</h3>

<p>These Terms of Service become effective immediately when you are using MangaTaku, and shall remain in effect until your use of the Service is terminated.

MangaTaku reserves the unconditional right to terminate these Terms of Service at any time and for any purpose, with or without cause, upon written notice to you, including by email. Upon termination, your right to use the Service shall cease.

You agree not to challenge such termination in any court of law.

The Terms and Conditions regarding limits on liability shall survive the termination of these Terms and Conditions, and shall remain in effect indefinitely.</p>

<h3>8. Misc.
</h3>

<p>These Terms and Conditions and any action related to them shall be governed, controlled, interpreted and defined by and under the laws of the State of Illinois and the United States. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms and Conditions shall be the state courts of the State of Illinois.</p>
