<div>
<h3>{{mangaList.length}} manga available.</h3>

<div class="searchResultsMod">
	<input type="text" ng-model="mangaFilter" placeholder="Filter Manga">
	<ul>
		<li ng-repeat="manga in mangaList | filter: mangaFilter | limitTo: 20"
		><a ng-href="#!/mangaDetails/{{manga.i}}/{{encodeParam(manga.im)}}">{{manga.t}}</a></li>
	</ul>
</div>
</div>