<div class="container-fluid">
	<div class="mangaLoading" ng-show="!showDetails">
		<p>We are loading your manga, just a second.</p>
		<img src="img/loading.gif">
	</div>
	<div class="hero-unit mangaDetailsMod row-fluid" ng-show="mangaDetails">
		<h2 class="modTitle">{{mangaDetails.title}}</h2>
		<div class="detailsImage">
			<img class="span3 img-polaroid" ng-src="{{mangaImage}}" ng-hide="{{mangaImage=='http://cdn.mangaeden.com/mangasimg/'}}">
		</div>
		

			<ul class="mangaInfo span9" style="float:left;">
				<li ng-hide="!mangaDetails.description">{{decodeHtml(mangaDetails.description)}}</li>
				<li class="buttons"><a ng-href="" class="btn btn-warning" ng-click="addFavorite()"><i class="icon-star icon-white"></i>  Add to Favorites</a>
				<a ng-repeat="chapter in mangaDetails.chapters | limitTo: -1" ng-href="#!/mangaChapter/{{encodeParam(mangaId)}}/{{encodeParam(chapter.json[3] || chapter[3])}}/{{encodeParam(chapter.json[2] || chapter[2])}}/{{encodeParam(mangaDetails.title)}}/{{encodeParam(mangaDetails.image)}}/{{encodeParam(chapter.json[0] || chapter[0])}}?pageNumber=1" class="btn btn-primary"><i class="icon-play icon-white"></i> Read the First Chapter Now!</a></li>
				<li ng-show="showAddAlert" class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				 		<strong>{{mangaDetails.title}} successfully added to favorites!</strong> <small>Click the <i class="icon-star"></i> icon in the navigation menu to see your favorites.</small>
				</li>
				<li ng-show="showAddAlertError" class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
        				<strong>You have already added this to your favorites!</strong>
				</li>
				<li><hr></li>
				<li ng-hide="!mangaDetails.author"><b>Author:</b> {{decodeHtml(mangaDetails.author)}}</li>
				<li ng-hide="!mangaDetails.artist"><b>Artist:</b> {{decodeHtml(mangaDetails.artist)}}</li>
				<li ng-hide="!mangaDetails.chapters_len"><b>Chapters:</b> {{mangaDetails.chapters_len}}</li>
				<li ng-hide="!mangaDetails.released"><b>Released:</b> {{mangaDetails.released}}</li>
				<li><b>Source:</b> MangaEden</li>
				<li ng-hide="!mangaDetails.status"><b>Status:</b> {{translateStatus(mangaDetails.status)}}</li>
				<li ng-hide="!mangaDetails.categories.length">
					<b>Categories:</b> 
					<span>{{formatCategories(mangaDetails.categories)}}</span>
				</li>
			</ul>

		<table class="table table-bordered table-hover table-striped modTable">
			<th>Chapter</th>
			<tr class="detailRow" ng-repeat="chapter in mangaDetails.chapters">
				<td class="modColumn mangaTitle"><a ng-href="#!/mangaChapter/{{encodeParam(mangaId)}}/{{encodeParam(chapter.json[3] || chapter[3])}}/{{encodeParam(chapter.json[2] || chapter[2])}}/{{encodeParam(mangaDetails.title)}}/{{encodeParam(mangaDetails.image)}}/{{encodeParam(chapter.json[0] || chapter[0])}}?pageNumber=1">{{chapter[0]}}<span ng-show="chapter[0] && chapter[2] != chapter[0] && chapter[2].length > 0"> - {{chapter[2]}}</span></a></td>
			</tr>
		</table>
	</div>
</div>