
<div class="container-fluid">
  <div class="mangaLoading" ng-show="!images">
      <p>{{mangaDetails.title}} will be ready in just a second.</p>
      <img src="img/loading.gif">
  </div>

  <div ng-show="images" class="hero-unit mangaChapterMod">
  	<p class="chapterNumber"><a ng-href="#!/mangaDetails/{{encodeParam(mangaId)}}/{{encodeParam(mangaImage)}}">{{mangaDetails.title}}</a> - Chapter {{chapterNumber}}</p>
    <p class="chapterNumber"><a class="btn btn-info" ng-click="addBookmarkTop()"><i class="icon-bookmark icon-white"></i> Bookmark this Page!</a></p>
    
    <div ng-show="showAddAlertTop" class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Bookmark successfully added!</strong>  <small>Click the <i class="icon-bookmark"></i> icon in the navigation menu to see your bookmarks.</small>
    </div>
  	
    <div ng-show="showAddAlertTopError" class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>You have already bookmarked this page!</strong>
    </div>

    <hr>

     <div class="mangaSlider">

     		<div class="sliderControlBar">
     			<a class="btn btn-link prev prev1" ng-click="prev()"><i class="icon-arrow-left"></i> Prev</a>
     			<span>{{imageNum}} of {{images.length}}</span>
          <a class="btn btn-link next next1" ng-click="next()">Next <i class="icon-arrow-right"></i></a>
     		</div>
          <div class="mangaImageContainer">
            <img class="mangaPage" ng-src="{{image()}}" ng-click="next()">
          </div>

          <div class="sliderControlBar">
            <a class="btn btn-link prev" ng-click="prev()"><i class="icon-arrow-left"></i> Prev</a>
     			<span>{{imageNum}} of {{images.length}}</span>
          <a class="btn btn-link next" ng-click="next()">Next <i class="icon-arrow-right"></i></a>
     		</div>

        <hr>

        <a class="btn btn-info" ng-click="addBookmarkBottom()"><i class="icon-bookmark icon-white"></i> Bookmark this Page!</a>

     </div>
     <div ng-show="showAddAlertBottom" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Bookmark successfully added!</strong>  <small>Click the <i class="icon-bookmark"></i> icon in the navigation menu to see your bookmarks.</small>
      </div>
      <div ng-show="showAddAlertBottomError" class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>You have already bookmarked this page!</strong>
    </div>
  </div>​
</div>
<hr>