<div class="searchResultsMod">
	<h3 class="modTitle">Search Results for "{{query}}"</h3>
	<table class="table table-bordered table-hover table-striped modTable">
		<th class="rowIcon"><i class="icon-picture"></i></th>
		<th>Manga Title</th>
		<tr ng-repeat="m in mangaList | filter: query | limitTo: 10">
			<td class="rowIcon"><a ng-href="#!/mangaDetails/{{m.i}}/{{encodeParam(m.im)}}"><img ng-src="{{getMangaImageUrl(m.im)}}"></a></td>
			<td class="mangaTitle"><a ng-href="#!/mangaDetails/{{m.i}}/{{encodeParam(m.im)}}">{{m.t}}</a></td>
		</tr>
	</table>
</div>