<!DOCTYPE html>
<html lang="en" ng-app="manga-otaku" ng-controller="MainCtrl">
  <head>
    <meta charset="utf-8">
    <title ng-bind="Page.getTitle()"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read Manga, Add Favorites, Bookmark Pages, and More...">
    <meta name="author" content="Manga">
    <meta property="og:title" content=">MangaTaku: Read Manga, Add Favorites, Bookmark Pages, and More..."/>
    <meta property="og:url" content="http://www.mangataku.com"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Le styles -->
    <link rel="stylesheet" href="lib/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- less CSS -->
    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
    <script src="lib/less/less.js" type="text/javascript"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body ng-controller="DocumentCtrl">
    <!-- START google analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38051322-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- END google analytics -->

  <!-- START FB LIKE -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- END FB LIKE -->

    <div id="wrap" ng-controller="MangaListCtrl">
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Justin's Personal Manga Reader</a>
            <ul class="nav">
              <li ng-class="{active:isActive('/')}"><a href="#"><i class="icon-home icon-white"></i></a></li>
              <li ng-class="{active:isActive('/mangalist')}"><a href="#!/mangalist"><i class="icon-list icon-white"></i></a></li>
              <li ng-class="{active:isActive('/favorites')}"><a href="#!/favorites"><i class="icon-star icon-white"></i></a></li>
              <li ng-class="{active:isActive('/bookmarks')}"><a href="#!/bookmarks"><i class="icon-bookmark icon-white"></i></a></li>
            </ul>
            <form class="navbar-form pull-right form-search">
              <input class="search-query" type="text" on-enter="search(encodeParam(manga))" auto-complete ui-items="mangaList" ng-model="manga" placeholder="Search Manga">
              <button style="display:none" type="submit" class="btn btn-primary perform-search" ng-click="searchButton()">Search</button>
            </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div ng-class="{span9:!isMangaChapters('/mangaChapter')}" ng-class="{span12:!isMangaChapters('/mangaChapter')}">
          <div change-manga-images="changeImage(which)" ng-view style="min-height: 600px;"></div>
        </div>
        <div class="site-sitebar" ng-class="{span3:!isMangaChapters('/mangaChapter')}" ng-class="{span12:isMangaChapters('/mangaChapter')">
          <div class="hero-unit sidebar-unit likeMod">
            <div class="likeContainer">
              <div class="fb-like" data-href="http://www.mangataku.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            </div>
          </div>
            <div class="hero-unit sidebar-unit well">
              <p>This app was made by <strong>Justin</strong>.
              <ul>
                <li><i class="icon-ok"></i> Desktops</li>
                <li><i class="icon-ok"></i> iPhones</li>
                <li><i class="icon-ok"></i> Androids</li>
                <li><i class="icon-ok"></i> Tablets</li>
              </ul>
              <p></p>
              <p></p>
            </div>
          <div class="sidebar-unit well">
            <p>
              No contributions or anything needed to use this. Just play around with it and have fun. This is merely a showcase about new web technologies. I'm using <a href="http://www.mangaeden.com">MangaEden.com's</a> API for this. If you have any issues you should take it there, this is just an interface to data they made publicly available.
            </p>
          </div>
        </div><!--/span-->
      </div>

    <div id="push"></div>
  </div>
     
  <div id="footer">
    <div class="container-fluid">
      <p class="muted credit">Made by Justin in 2013<a href="#!/legal">
    </div>
  </div>
    
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/lawnchair/lawnchair.js"></script>
    <script src="lib/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
