<h2>Top 10</h2>

<table class="table table-bordered table-hover table-striped modTable topTenMod" ng-controller="TopTenCtrl">
	<th class="rank">#</th>
	<th class="rowIcon"><i class="icon-picture"></i></th>
	<th>Title</th>
	<tr ng-repeat="manga in topTenList">
		<td class="rank"><a ng-href="#!/mangaDetails/{{manga.i}}/{{encodeParam(manga.im)}}">{{$index + 1}}</a></td>
		<td class="rowIcon"><a ng-href="#!/mangaDetails/{{manga.i}}/{{encodeParam(manga.im)}}"><img ng-src="{{getMangaImageUrl(manga.im)}}"></a></td>
		<td class="mangaTitle"><a ng-href="#!/mangaDetails/{{manga.i}}/{{encodeParam(manga.im)}}">{{manga.t}}</a></td>
	</tr>
</table>